./gatsby/hello-world/.git
./gatsby/hello-world/.gitignore
./gatsby/hello-world/node_modules/
./gatsby/hello-world/readme.md

./gatsby/tutorial-part-two/.git
./gatsby/tutorial-part-two/.gitignore
./gatsby/tutorial-part-two/node_modules/
./gatsby/tutorial-part-two/readme.md

./gatsby/tutorial-part-three/.git
./gatsby/tutorial-part-three/.gitignore
./gatsby/tutorial-part-three/node_modules/
./gatsby/tutorial-part-three/readme.md

./react/catch-of-the-day/node_modules/

./python/flaskRestful/todo-api/flask/
./python/flask_contact_app/myvenv/
./python/flaskTutorial/myvenv/

./angular/02-spa/e2e/
./angular/02-spa/e2e/node_modules/

./testing/apiTesting/jestSupertest/node_modules/
node_modules/

./js/asyncAwaitCountryApp/node_modules/

./js/lvlUpEcma6/node_modules/