<!DOCTYPE HTML>
<html>
		<title>Eugenia Watanabe</title>
		<meta name="description" content=""
		/>
		<link rel="canonical" href="http://eugewatanabece.com/" />
		<meta charset="utf-8" />

		<!-- for Facebook -->
		<meta property="og:title" content="Eugenia Watanabe - Servicios Contables Personalizados" />
		<meta property="og:type" content="article" />
		<meta property="og:image" content="http://eugewatanabece.com/images/logo.jpg" />
		<meta property="og:url" content="http://eugewatanabece.com/" />
		<meta property="og:description" content="" />

		<!-- for Twitter -->
		<meta name="twitter:card" content="summary" />
		<meta name=”twitter:url” content="http://eugewatanabece.com/"/>
		<meta name="twitter:title" content="Eugenia Watanabe - Servicios Contables Personalizados" />
		<meta name="twitter:description" content="" />
		<meta name="twitter:image"  content="http://eugewatanabece.com/images/logo.jpg" />

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<script src='https://www.google.com/recaptcha/api.js'></script>
		<script>
            function onSubmit() {
                document.getElementById('demo-form').submit();
            }
		</script>
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">Eugenia Watanabe</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="index.html">Home</a></li>
								<li><a href="generic.html">Generic</a></li>
								<li><a href="elements.html">Elements</a></li>
								<li><a href="#">Log In</a></li>
								<li><a href="#">Sign Up</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo">
                                <img src="images/logo.png" class="icon-larger"/>
                            </div>
							<h2>Servicios contables personalizados</h2>
							<a href="#" class="button">Enviar mensaje</a>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- One -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a href="#" class="image"><img src="images/maqueta-web-01.png" alt="Logo eugenia watanabe - servicios contables" /></a>
									<div class="content">
										<h2 class="major">Soy eugenia y quiero asesorarte</h2>
										<p>Contadora Pública Nacional egresada de la Facultad de Ciencias Económicas de la UNCuyo. Se desempeñó en Estudios Contables de la ciudad de Mendoza en el sector de contabilidad y auditoría.</p>
										<p>Actualmente aplica su experiencia para asesorar a PyMES y emprendedores independientes en el desarrollo de controles para la gestión y control de sus negocios</p>
									</div>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a href="#" class="image"><img src="images/maqueta-web-02.png" alt="Servicios contables" /></a>
									<div class="content">
										<h2 class="major">Servicios</h2>
										<ul>
											<li>Capacitación y asistencia en:</li>
											<li style="list-style-type:none;">
												<ul style="margin-bottom:0px;">
													<li style="list-style-type:circle;">Control de cuentas por cobrar y por pagar.</li>
													<li style="list-style-type:circle;">Seguimiento del flujo de efectivo.</li>
													<li style="list-style-type:circle;">Conciliaciones bancarias.</li>
													<li style="list-style-type:circle;">Cálculos de ratios a fin de conocer rentabilidad y liquidez.</li>
												</ul>
											</li>
											<li>Armado de información crediticia.</li>
											<li>Armado de informes para fines impositivos.</li>
											<li>Liquidaciones impositivas.</li>
										</ul>
									</div>
								</div>
							</section>

						<!-- Three -->
							<section id="three" class="wrapper spotlight style3">
								<div class="inner">
									<a href="#" class="image"><img src="images/maqueta-web-03.png" alt="Por que elegirme - servicios contables" /></a>
									<div class="content">
										<h2 class="major">¿Por que elegirme?</h2>
										<p>En un contexto de permanente cambio, uno de los principales retos a los que se enfrentan las PyMES es contar con la suficiente liquidez, manteniendo e incrementando la rentabilidad con un uso eficiente de los recursos. Esto se logra mediante controles periódicos de la situación financiera y económica.</p>
										<p>Nos distinguimos porque no solo liquidamos impuestos, sino que además asistimos en el desarrollo de controles eficaces, sencillos y personalizados, utilizando recursos informáticos que se encuentran al alcance del empresario PyME.</p>
									</div>
								</div>
							</section>

					</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<h2 class="major">Contacto</h2>
							<form method="post" action="web/sendMail.php">
								<div class="field">
									<label for="nombre">Nombre</label>
									<input type="text" name="nombre" id="nombre" />
								</div>
								<div class="field">
									<label for="email">Email</label>
									<input type="email" name="email" id="email" />
								</div>
                                <div class="field">
									<label for="tipo_consulta">Tipo de consulta</label>
									<input type="text" name="tipo_consulta" id="tipo_consulta" />
								</div>
								<div class="field">
									<label for="mensaje">Mensaje</label>
									<textarea name="mensaje" id="mensaje" rows="4"></textarea>
								</div>
								<div class="g-recaptcha" data-sitekey="6Ldn_n4UAAAAALlgElGkBK-NOhtfCoLKAFD_DUcy"></div>
								<ul class="actions">
									<li> <button class="g-recaptcha"
												 data-sitekey="6Ldn_n4UAAAAALlgElGkBK-NOhtfCoLKAFD_DUcy"
												 data-callback="onSubmit">Submit</button></li>
								</ul>
							</form>
							
							<ul class="copyright">
								<li>Design: <a href="http://www.criosdevs.com">Crios Devs</a></li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>