<h1 class="animated fadeIn">Heroes encontrados con el término: <small>" {{ terminobusqueda }} "</small></h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados con el término: {{ terminobusqueda }}
        </div>
    </div>
</div>


<div class="card-columns">

    <app-heroe-tarjeta [heroe]="heroe" [indice]="i" *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>

</div>